body {
  height: 100vh;
  width: 100vw;
  background-color: #123456;
  color: #fff;
}

code {
  margin: 0 0.5rem;
  background-color: #fff;
  color: black;
  padding: 0.25rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  width: 100%;
  font-size: 1.5rem;
}

.line {
  margin: 0.75rem 0;
}

.title {
  font-size: 4rem;
  margin: 4rem 0;
}